.greetings {
    height: 90vh;
}

.greetings__content {
    padding-top: 150px;
}

.greetings__avatar img{
    width: 350px;
    border: 1px solid crimson;
    padding: 10px;
}

.greetings__descr {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

