  .portfolio__item {
      flex: 0 0 330px;
      padding: 10px;
      margin: 5px;
  }
  .portfolio__item ul {
    list-style-type: none;
  }
  .portfolio__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }