
.work__title-company {
    padding-left: 45px;
    font-size: 18px;
    color: crimson;
}

.work__title-company::before {
    position: relative;
    top: 20px;
    right: 25px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: crimson;
}

.work__wrap {
    padding-bottom: 2rem;
}

.work__desc::after {
    position: relative;
    left: 30px;
    display: block;
    content: '';
    width: 150px;
    height: 2px;
    background: crimson;
}